<a href="https://colab.research.google.com/github/dohaalnabahin/Python-Learning-Journey/blob/main/Functional_Programming_and_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Run this cell to see what value the function returns
max(5, 7)

7

In [2]:
# Run this cell to return the minimum of 3 and 2.
min(3, 2)

2

In [3]:
# Run this cell to return the maximum of the minimum of 10 and 3 and the minimum of 5 and 7
max(min(10,3), min(5,7))

5

In [4]:
# Run this cell to return a lower case string
txt = 'Hello'
txt.lower()

'hello'

In [5]:
# Run this cell to return an upper case string
txt.upper()

'HELLO'

In [6]:
# replace h with j in the string
txt.replace('H', 'j')

'jello'

In [7]:
word_list = ['this', 'is', 'a', 'list', 'of', 'strings']
random_list = [12, 'frog', ['this','is','a','list','in','a','list'], True, 3.14]
print(word_list)
print(random_list)

['this', 'is', 'a', 'list', 'of', 'strings']
[12, 'frog', ['this', 'is', 'a', 'list', 'in', 'a', 'list'], True, 3.14]

In [8]:
# use .remove() on our word_list
word_list.remove('a')
print(word_list)

['this', 'is', 'list', 'of', 'strings']

In [9]:
# Select the first item from the list
print(random_list[0])

12

In [10]:
# Negative indexing
print(random_list[-1])

3.14

In [11]:
# Combine two lists using the + operator
word_list + random_list

['this',
 'is',
 'list',
 'of',
 'strings',
 12,
 'frog',
 ['this', 'is', 'a', 'list', 'in', 'a', 'list'],
 True,
 3.14]

In [12]:
# Demo of tuples of the same data type or mixed data types
integer_tuple = (1,2,3,4,5)
random_tuple = (1, 'horse', integer_tuple, word_list, False)
print(integer_tuple)
print(random_tuple)

(1, 2, 3, 4, 5)
(1, 'horse', (1, 2, 3, 4, 5), ['this', 'is', 'list', 'of', 'strings'], False)

In [13]:
# Indexing a range from a tuple
print(random_tuple[0:2])

(1, 'horse')